.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#top {
  margin-left: 440px;
  margin-top: 20px;
}
#pictures {
  display: flex;
}
#pictures img {
  height: 200px;
  max-width: 100%;
  margin-left: 10px
}

#score {
  margin-left: 338px;
}

